# Flask
SECRET_KEY=your_secret_key_here
DEBUG=True

# Database (SQLite for development)
SQLALCHEMY_DATABASE_URI=sqlite:///{PROJECT_DIR}/instance/driftdater.db
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Mailtrap (Fake SMTP)
MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=your_mailtrap_user_here
MAILTRAP_SMTP_PASS=your_mailtrap_password_here
MAILTRAP_FROM_EMAIL=DriftDater<noreply@driftdater.com>

# Upload folder
UPLOAD_FOLDER=./uploads
MAX_CONTENT_LENGTH=16777216

# authService.test.js
MISSING_SPECIAL_CHARACTER_PASSWORD=missing_special_character_password
STRONG_PASSOWRD=strong_password
